// font settings:
$fontFace: Liga SFMono Nerd Font;
$fontHoverStyle: italic;
$fontWeight: 600;
$fontH1Size: 2.2em;
$fontH2Size: 1.2em;
$fontLiFCSize: 1.5em;
$fontASize: 1.1em;

// color settings:
$themeFg: #8FBCBB;
$themeFgAlt: #D8DEE9;
$themeAccent: #81A1C1;
$themeHover: #ECEFF4;
$themeBg: #2E3440;
